%br
#recipes.transitions-enabled
  -if @recipe.length!=nil

    - @recipe.reverse.each do |recipe|
      .box.panel.panel-default.col.m3.s5
        .image_wrapper
          =link_to recipe do
            =image_tag recipe.image.url
          .like{style:"background-color:white;color:#f44336;position:absolute;padding:3px;border-radius:6%;top:0;left:0;"}
            %span
              %i.fa.fa-heart-o{"aria-hidden" => "true"}
              =recipe.get_upvotes.size
        .panel-body
          %h2= link_to recipe.title,recipe
          %p.user
            Sumbitted by
            =recipe.user.email
    .end
      %p
        you have reached the end :|
      %p
        Add share New Recipe and help everyone :D
